
<center><h1>Your Shopping Cart </h1>
<%= @shopping_cart.products.count %> items in your cart. <br>
Total: $ <%= @shopping_cart.sub_total %></center>
<% @shopping_cart.products.each do |product| %>
    <center>
    <%= product.name %>
    <%= product.craft %><br>
   
   Price: $ <%= product.price %><br>
    <% if product.avatar.attached? %>

         <image src="<%=(url_for(product.avatar))%>", style="height: 300px; width: 300px; border:5px solid black;"><br>
         <% end %>
        
         </center>
     <% end %>
