
<h1> Product Show </h1>
    <div class="text">
    <h2>  <%=  @product.name  %><br> </h2>
        <%= @product.craft %><br>
        
        <%= @product.description %><br>
        <%= @product.price %><br>
         <%= button_to "Add #{@product.name} to cart", line_items_path(:product_id => @product.id) %>
        
        
        </div>
        <% if @product.avatar.attached? %>
       <div class="picture">
         <image src="<%=(url_for(@product.avatar))%>", style="height: 300px; width: 300px; border:5px solid black;"><br>
       </div>
    <% end %>
    