<!DOCTYPE html>
<html>
  <head>
    <title>Handmade</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'style.css' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body style="background-color: #566573;">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
    <img src="https://imgprd19.hobbylobby.com/3/69/f7/369f79a0772945e1017b22a89ca12e47a542c949/700Wx700H-1432178-052819.jpg" width="100px" height="100px">
    Handmade</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="http://localhost:3002/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:3002/products/">PRODUCTS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:3002/products/new">New</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>


      <form class="d-flex">
      <%= form_tag(products_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search Products", class: 'form-control me-2' %>
      <%= submit_tag "Search", class: 'btn btn-outline-success' %>
    </form>
    <% end %>
    </div>
  </div>
</nav>

<%= yield %>



  
   
  </body>
</html>
